
       <section id="slider">
        <div class="wrapper">
      <div id="outerSlider">
      <div id="imgLeft">
      <img src="/assets/mainImage.png" width="100%" alt="sliderImage" />
      </div>
      <div id="rightText">
      new executive division has grown through our unique service. Each
        corporate account holder is assigned a personal account manager.<br>
         Each
        corporate account holder is assigned a personal account manager.
      </div>
     
   </div>
    </div><!-- end wrapper -->
    </section><!-- end slider -->
    
    
    
		<!-- content -->   
    <section id="content">
        <div class="wrapper">
      
        <div id="container">
        
  <div id="coverThree">
  <% @items = Item.select('DISTINCT category') %>
<!--
<% @items.each do | c | %>
	<a href="/category/<%= c.category %>" id="categorylisting"><%= c.category %></a>
	<%= @items[1]%>
 <% end %> 
 -->



    <div id="infoOne">
     <%= link_to image_tag("poster.png", :width => '50%', :class => "img_preview",  :alt => "rss feed"),"/category/poster"  %>
      <h2 class=""><a href="book.php">Posters</a></h2>

      <div class="pullquote">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too!<br />
        <br />
      </div>
    </div>

    <div id="infoTwo">
     <%= link_to image_tag("toys.png", :width => '75%',  :alt => "rss feed"),"/category/Toy" %>
      <h2 >
        
        <a href="">Toys</a></h2>
      <div class="pullquote">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too
      </div>
    </div>

    <div id="infoThree"><br><br>
    <%= link_to image_tag("games.png", :width => '75%',  :alt => "rss feed"),"/category/Games"  %>

      <h2>
        
        <a href="">Games</a></h2>

      <div class="pullquote">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too
      </div>
    </div>
  </div>
  
        </div><!-- end container -->
        
         </div><!-- end warpper -->
    </section><!-- end content -->

