
       <section id="slider">
        <div class="wrapper">
      <div id="outerSlider">
      <div id="imgLeft">
      <img src="/assets/mainImage.png" width="100%" alt="sliderImage" />
      </div>
      <div id="rightText">
       <h1 class="headingTags">Welcome</h1>
      To one of the most amazing site you can visit on the web today. Great Scott! has everything movie... Check out the categories and browse all the products. You really will be amazed!
      </div>
     
   </div>
    </div><!-- end wrapper -->
    </section><!-- end slider -->
    
    
    
		<!-- content -->   
    <section id="content">
        <div class="wrapper">
      
        <div id="container">
        
  <div id="coverThree">
  <% @items = Item.select('DISTINCT category') %>
<!--
<% @items.each do | c | %>
	<a href="/category/<%= c.category %>" id="categorylisting"><%= c.category %></a>
	<%= @items[1]%>
 <% end %> 
 -->



    <div id="infoOne">
     <%= link_to image_tag("poster.png", :width => '50%', :class => "img_preview",  :alt => "rss feed"),"/category/poster"  %>
      <h2 class="/category/poster"><a href="book.php">Posters</a></h2>

      <div class="pullquote">
     To capture the essence of the film you love why not have your very own authentic poster with film detail, release dates and stars. Click through our wide variety in our catalogue.  <br />
      </div>
    </div>

    <div id="infoTwo">
     <%= link_to image_tag("toy.png", :width => '75%',  :alt => "rss feed",:class => 'posterImage2' ),"/category/Toy" %>
      <h2 >
        
        <a href="/category/Toy">Toys</a></h2>
      <div class="pullquote"> 
   <p style="padding-top:5px;">The inner child in most of us love to see our favourite characters somehow come to life. We have a huge selection of toys form your favourite films and some you may find very interesting.  </div>
   </p> </div>

    <div id="infoThree" >
    <%= link_to image_tag("games2.png", :width => '75%',  :alt => "rss feed",:class => 'posterImage' ),"/category/Game"  %>

      <h2>
        
        <a href="/category/Games">Games</a></h2>

      <div class="pullquote">
     For all you game lovers out there, GreatScott has one on the best catalogues online for movie games. From Nintendo, Xbox, Sega to a commodore 64 version of Donkey Kong! </div>
    </div>
  </div>
  
        </div><!-- end container -->
        
         </div><!-- end warpper -->
    </section><!-- end content -->

