
       <section id="slider">
        <div class="wrapper">
      <div id="outerSlider">
      <div id="imgLeft">
      <img src="/assets/mainImage.png" width="100%" alt="sliderImage" />
      </div>
      <div id="rightText">
       <h1 class="headingTags">Welcome</h1>
      To one of the most amazing site you can visit on the web today. Great Scott! has everything movie... Check out the categories and browse all the products. You really will be amazed!
      </div>
     
   </div>
    </div><!-- end wrapper -->
    </section><!-- end slider -->
    
    
    
		<!-- content -->   
    <section id="content">
        <div class="wrapper">
      
        <div id="container">
        
  <div id="coverThree">
  <% @items = Item.select('DISTINCT category') %>
<!--
<% @items.each do | c | %>
	<a href="/category/<%= c.category %>" id="categorylisting"><%= c.category %></a>
	<%= @items[1]%>
 <% end %> 
 -->



    <div id="infoOne">
     <%= link_to image_tag("poster.png", :width => '50%', :class => "img_preview",  :alt => "rss feed"),"/category/poster"  %>
      <h2 class="/category/poster"><a href="book.php">Posters</a></h2>

      <div class="pullquote">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too!<br />
        <br />
      </div>
    </div>

    <div id="infoTwo">
     <%= link_to image_tag("toy.png", :width => '75%',  :alt => "rss feed",:class => 'posterImage2' ),"/category/Toy" %>
      <h2 >
        
        <a href="/category/Toy">Toys</a></h2>
      <div class="pullquote">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too
      </div>
    </div>

    <div id="infoThree" >
    <%= link_to image_tag("games2.png", :width => '75%',  :alt => "rss feed",:class => 'posterImage' ),"/category/Games"  %>

      <h2>
        
        <a href="/category/Games">Games</a></h2>

      <div class="pullquote">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too
      </div>
    </div>
  </div>
  
        </div><!-- end container -->
        
         </div><!-- end warpper -->
    </section><!-- end content -->

