      <section id="content">
        <div class="wrapper">
      
        <div id="container">
            <div id="myYield">
              
<h1>Your Cart</h1>

  	 Total products : <%= $cart.count %> 
<!-- loop through each item and add to an array to get the overall total   -->
      <% $cart.each  do | id, quantity |%>
         <% myItem = Item.find_by_id(id) %>
           <% @myArray.push( myItem.cost) %>
      <% end %>
   
   
   <!-- total cart display-->
       <span class="goRight" style="padding: 10px;background: white">
            Sub Total: <span class="goRight"><%= number_to_currency(@myArray.sum, :unit => '€' )%></span><br>
            
            <!-- add vat to sub total -->
           <span class="goRight"><i>Vat</i> @ 21%</span><br>
            
            <!-- create a variable to send to payment -->
            <% grandtotal =  @myArray.sum * 21/100 + @myArray.sum %>
           
            <strong>Grand Total:</strong> <span Class="grandTotal"><%= number_to_currency(@myArray.sum * 21/100 + @myArray.sum , :unit => '€' )%></span>
            <br>
            <br>
            <!-- append variable to payment link -->
             <a class="mybtn" style="float:left;" href="/mis?amount=<%= grandtotal %>">Checkout</a><br>
        
        </span>
        
        
  
  <table class="cartTable" border="0" style="marign: 0 auto" class="cartTable" >
    <tr>
      <th>Item</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Remove</th>
     
    </tr><!-- display the cart -->
      <% $cart.each  do | id, quantity |%>
      <% myItem = Item.find_by_id(id) %>
       <tr >
      <td style="padding: 10px"><%= link_to (myItem.name), myItem %></td>
      <td style="text-align:center;padding: 10px"><%= link_to (image_tag myItem.image, :style => "width:45%"), myItem %></td>
      <td style="text-align:center;">1</td>
      <td style="padding: 10px"> <%= number_to_currency(myItem.cost, :unit => '€' ) %> </td>
      <td style="width:50px;">
         <a style="float:right;" href="/cart/remove/<%= myItem.id %>"><%= image_tag("remove.png", :alt => "remove item", :style => "width:70%;") %></a>
        
         </td>
       
  </tr>
  <% end %>
  
  
    
</table>

      
      
     <a class="mybtn2" style="float:right;" href="/cart/clear">Clear Cart</a>
    </div>
    </div>
  </div>
</section>
  
  <script type="text/javascript">
  
    $( document ).ready(function() {
    $.backstretch("assets/trooper5.png");
    });
    
  </script>
