 <section id="content">
   <div class="wrapper">
      
     <div id="container">
       <div id="myYield">
<h2>Account Details <%= current_user.email %></h2>
<div class="signIn">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<div class="editMe">
<h3><br>Your orders</h3>
  <% @myOrder = Order.all %>

   <table width="100%">
     <tr>
       <th>Cost</th>
       <th>Item</th>
       <th>Email</th>
       <th>Date</th>
     </tr>
     
   <!-- display all orders from current user -->
   <% @myOrder.each do |g| %>
   
  <!-- create a variable to hold current user -->
     <%  x = current_user.email %>
     
       <% if g.email == x %>
    
        <tr>
         <td> <%=  number_to_currency(g.cost, :unit => '€' )  %></td>
         <td> <%= g.item %></td>
         <td> <%= g.email %></td>
         <td> <%= g.created_at.strftime("%d %B. %Y") %></td> 
         <br>
      
        </tr>
      <% end %>
    <% end %>
    
    </table>
    
    </div>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
      </div>
      </div>
      </div>
  </section>
<script type="text/javascript">
$( document ).ready(function() {
$.backstretch("assets/trooper5.png");
});
</script>