      <section id="content">
        <div class="wrapper">
      
        <div id="container">
            <div id="myYield">

<h1>Listing items (Category: <%= @category %>)</h1>
<div id="tableSurround2">

    <% @items.each do |item| %>
       <div id="itemSurround2">
        <div class="porductName"><%= item.name %></div>
        <div class="theDis"> <span class="theDis2"><%= item.description %></span><br>
        <span class="moveMe">Cost:</span> 
        <span class="theCost"><%= item.cost %></span>
        </div>
        <div class="theImage"><%= link_to (image_tag item.image, :style => "width:60%"), item %></div>
        <span class="theCat"><%= item.category %></span>
        <div class="theButtons">
       <span class="mybtn"><%= link_to 'Show', item %></span></td>
        <td><span class="mybtn"><%= link_to 'Edit', edit_item_path(item) %></span>
        <span class="mybtn"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></span>
       </div>
      </div>
    <% end %>

</div>
<br>

<%= link_to 'New Item', new_item_path %>
</div>
</div>
</div>
</section>