    <section id="content">
        <div class="wrapper">
            <div id="container">
                <div id="myYield">
                <h1>Search Product Catalog</h1>
                <br />
                <h3>Searching For: <%= @search_term %></h3>
                <table class="catalog">
                
                <% if @items.length == 0  %>
                <br />
                <h2>No Products found for this search term!!</h2>
                <% end %>
                
                <% @items.each do |item| %>
                  <tr>
                    <td>
                        <div class="image">
                            <%= link_to (image_tag item.image, :style => "height:200px"), item %>
                         </div>
                    </td>
                    <td>
                       
                        <div class="title">
                            <%= link_to item.name, item %>
                       </div>
                             
                        <div class="description">
                           <%=h item.description %>
                        </div>
                                
                        <div class="cost">
                            <%= number_to_currency(item.cost, :unit => "€") %>
                        </div>
                        
                        
                        <div class="links">
                            
                            <% if session[:login] == 1 %>
                                
                                <%= link_to 'Edit', edit_item_path(item) %> |
                                <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
                                
                                <% else %>
                                <% if user_signed_in? %>
                                <span class="mybtn"><a href="/cart/<%= item.id %>">Add to Cart</a></span><br><br>
                                 
                                   <%else%>
                                    <h3 style="color:#045">You must be a member to purchase this item</h3>
                                 <% end %>
                
                            <% end %>
                        </div>
                
                          
    
    
  
    

                       
                       
                       
                       
                       
                       
                        
                    </td>
                  </tr>
                
                <% end %>
                </table>
                
                <% if session[:login] == 1 %>
                    <p><%= link_to 'New item', new_item_path %></p>
                <% end %>
                
                 </div>
             </div>
        </div>
    </section>
    <script type="text/javascript">
$( document ).ready(function() {
$.backstretch("assets/trooper5.png");
});
</script>