 <section id="content">
   <div class="wrapper">
      
     <div id="container">
       <div id="myYield">
<div id="tableSurround">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>

    <%= link_to (image_tag @item.image, :style => "width:25%"), @item %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<span class="mybtn" style="margin-right:10px;"><%= link_to 'Edit', edit_item_path(@item) %> </span>
<span class="mybtn"><%= link_to 'Back', items_path %></span>
</div>
      </div>
      </div>
      </div>
  </section>