 <section id="content">
   <div class="wrapper">
     <div id="container">
       <div id="myYield">
       <div id="tableSurround2">
        <div id="itemSurround2">
         <p id="notice"><%= notice %></p>

               <div class="porductName">
                <strong>Name:</strong>
                  <%= @item.name %>
               </div>
           
                <div class="theDis">
                 <span class="theDis2"><strong>Description:</strong>
                   <%= @item.description %>
                     </span><br>
                
                  <span class="moveMe">
                    <strong>Cost:</strong>
                     <span class="theCost"><%= number_to_currency(@item.cost, :unit => '€' ) %></span></span> 
                  </div>
                  
                 <!-- hover over image to show in more detail. may not include it -->
                 <div class="theImage">
                  
                 <!-- <%= link_to (image_tag @item.image, :style => "width:70%", :class => 'theImage2'), @item %> -->
                  
                  
                  </div>
             
             <!-- magnify source:  http://thecodeplayer.com/walkthrough/magnifying-glass-for-images-using-jquery-and-css3 -->
             <div class="magnify"> 
               
               <!-- creating style on the fly in rails to display the larger image -->
               <style media="screen">
                .large { background-image: url('/assets/<%= @item.image %>');background-repeat: no-repeat;background-size:150%;}
                 </style>
              
               <div class="large" ></div>
               <%= link_to (image_tag @item.image, :style => "width:100%",:class => "small"), @item %>
             </div>
         <p>
      
    
    
    
      <!--show cart button only if user is logged in -->
      
      <% if user_signed_in? %>
    <a class="mybtn" style="float:right;" href="/cart/<%= @item.id %>">Add to Cart</a>
    
    <%else%>
    <h3 style="color:white">You must be a member to purchase this item</h3>
    
  <% end %>
      

  <strong>Category:</strong>
  <%= @item.category %>
 </p><br>


  <% if session[:login] == 3 %>
  
  <span class="mybtn" style="margin-right:10px;"><%= link_to 'Edit', edit_item_path(@item) %> </span>

  <% end %>
  
  <span class="mybtn"><%= link_to 'Back', items_path %></span>



</div>
</div>
      </div>
      </div>
      </div>
  </section>
