<!DOCTYPE html>
<html>
<head>
  <title>GreatScott</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<body>
<!-- Header -->
    <section id="header">
        <div class="wrapper">
           <div id="outerHeader">
             <%= link_to image_tag("header.png", :width => '100%'),root_path  %>
               
               </div>
            </div><!-- end wrapper -->
    </section>
    
       <!-- makes a nice line below header -->
		<div id="borderHolder">                       
            <ul class="headerborder">
                <li class="color1"></li>
                <li class="color2"></li>
                <li class="color3"></li>
            </ul>
        </div>
        
    <!-- nav section -->
     <section id="nav">
    <div class="wrapper">
        <div id="menuButton"><img src="/assets/buttonMenu.png" width="40" /></div>
           <nav class="navbar">
                <ul>
                    <li><a href ="#"><%= link_to "Home", root_path %></a></li>
                      <li><a href ="/about">About</a></li>
                        <li><a href ="/items">Products</a></li>
                         <li><a href ="/contact">Contact</a></li>
                      
                        <% if user_signed_in? %>
                       <!-- display administator link if admin is logged in -->
	                    <% if current_user.email  == 'alan@mail.com' %>
                     <li><a href ="/admin">Admin</a></li>
                    <% end  %>
                  <% end  %>
                  
                </ul>
                  <p class="notice"><%= notice %></p>
               <p class="alert"><%= alert %></p>
        	</nav>
	
	
	<div id="searchDiv">
	<span class="cato">Categories:</span><%= render '/items/categoryDistinctList' %>

	<span class="mainSignin">
	    
	  <% if user_signed_in? %>
	  
	  <!-- if logged in show cart image and edit profile -->
	                     
	                     
	                     <!-- display administator image if admin is logged in -->
	                     <% if current_user.email  == 'alan@mail.com' %>
                              <img class="adminPic" src="/assets/admin.png" width="80px" alt="header pic" />
                        <% end %>
         
         
          <strong style="color:brown"><%= current_user.email %></strong>.
          
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          
          <%= link_to image_tag("cart.jpg", :width => '24px'),"/cart/"  %>
          
          
          <%= render '/cart/cartAmount' %>
          
          |
          
          
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        
        
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    
	</span>
	  
	<span class="searchbox">
   <%= render :partial => 'items/search' %>
  </span>
  </div>
  
    </div><!-- end wrapper -->
       
    </section><!-- end header section -->
    
      
      
      <!-- setting the Admin session --> 
      
      <% if user_signed_in? %>
      
        <% if current_user.email  == 'alan@mail.com' %>
            <% session[:login] = 3 %>
        <% else %>
            <% session[:login] = 0 %>
        <% end %>
        
    <% end %>

    <!-- end admin -->


    <%= yield %>



<!-- footer -->
 <!-- makes a nice line across footer -->
   		<div id="borderHolder">                       
            <ul class="headerborder">
                <li class="color1"></li>
                <li class="color2"></li>
                <li class="color3"></li>
            </ul>
        </div>
        
        
        
    <section id="footer">
        <div class="wrapper">
      <div id="outerFooter">
      
      <p> GreatScott!!
   
   <!-- javascript to get this year and next year -->
    <script type="text/javascript">
    
      var d = new Date().getFullYear();
      var n = new Date().getFullYear()+1;
      document.write( d + " / " + n);
      
      </script>
      
      
   <span class="goRight"> Higher Diploma in Web Technology</span>
    
    <ul>
      <li>Alan Leoanrd</li>
      <li>Edward Flynn</li>
    </ul>
    
   </div>
 </div><!-- end wrapper -->
</section><!-- end footer -->
    
    
    <!-- backstreach -->
    <script type="text/javascript">
    $( document ).ready(function() {
    $.backstretch("assets/trooper5.png");
    });
    </script>
    
    
</body>

</body>
</html>
