<!DOCTYPE html>
<html>
<head>
  <title>GreatScott</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<body>
<!-- Header -->
    <section id="header">
    <div class="wrapper">
   <div id="outerHeader">
   <a href ="/static_pages/index">	<img src="/assets/header.png" width="100%" alt="header pic" /></a>



   </div>
    </div><!-- end wrapper -->
    </section>
    
       <!-- makes a nice line below header -->
		<div id="borderHolder">                       
            <ul class="headerborder">
                <li class="color1"></li>
                <li class="color2"></li>
                <li class="color3"></li>
            </ul>
        </div>
    <!-- nav section -->
     <section id="nav">
    <div class="wrapper">
    <div id="menuButton"><img src="/assets/buttonMenu.png" width="40" /></div>
   <nav class="navbar">
        <ul>
            <li><a href ="#"><%= link_to "Home", root_path %></a></li>
             <li><a href ="/items">Items</a></li>
             <li><a href ="#">Products</a></li>
            <li><a href ="#">Contact</a></li>
        </ul>
          <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	</nav>
	<div id="searchDiv">
	<span class="cato">Categories:</span><%= render '/items/categoryDistinctList' %>

	<span class="mainSignin">
	  <% if user_signed_in? %>
  Logged in as <strong style="color:brown"><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
	</span>
	
	<span class="searchbox">
   <%= render :partial => 'items/search' %>
  </span>
  </div>
  
    </div><!-- end wrapper -->
       
    </section><!-- end header section -->

    <%= yield %>

<!-- footer -->
 <!-- makes a nice line across footer -->
   		<div id="borderHolder">                       
            <ul class="headerborder">
                <li class="color1"></li>
                <li class="color2"></li>
                <li class="color3"></li>
            </ul>
        </div>
    <section id="footer">
        <div class="wrapper">
      <div id="outerFooter">
      
      <p>Copyright &copy; GreatScott!!
    <script type="text/javascript">document.write(new Date().getFullYear());</script><br>
    <ul>
    <li>Alan Leoanrd</li>
      <li>Edward Flynn</li>
    </ul>
   </div>
    </div><!-- end wrapper -->
    </section><!-- end footer -->
<script type="text/javascript">
$( document ).ready(function() {
$.backstretch("assets/trooper5.png");
});
</script>
</body>

</body>
</html>
